<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ywz.nkcommunity.mapper.UserMapper">

    <sql id="selectUserFields">
        id, username, password, email, type, status, create_time
    </sql>

    <sql id="insertFields">
        username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>

    <!--User findUserById(@Param("id")int id);-->
    <select id="findUserById" resultType="com.ywz.nkcommunity.entity.User">
        select * from user where id = #{id}
    </select>

    <!--User selectByUserName(@Param("username")String username);-->
    <select id="selectByUserName" resultType="com.ywz.nkcommunity.entity.User">
        select * from user where username = #{username}
    </select>

    <!--User selectByEmail(@Param("email")String email);-->
    <select id="selectByEmail" resultType="com.ywz.nkcommunity.entity.User">
        select * from user where email = #{email}
    </select>

    <insert id="insertUser" parameterType="com.ywz.nkcommunity.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (<include refid="insertFields"></include>)
        VALUES (#{username}, #{password}, #{salt}, #{email}, #{type}, #{status},
        #{activationCode}, #{headerUrl}, #{createTime})
    </insert>

    <!--int updateStatus(@Param("id") int id, @Param("status") int status);-->
    <update id="updateStatus" >
        UPDATE user SET status = #{status} WHERE id = #{id}
    </update>

</mapper>
